/* main style */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    margin: 0;
}

header{
    
    display: flex;
    padding: 0 30px;
    color: #efefef;
    background-color: #2d2d2d;
    border-bottom: 1px solid #000000;
}

header .header-title{
    display: inline-block;
}

header .header-menu{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #777777;
    font-size: smaller;
}
main{
    flex: 1;
}

main #display-content{
    padding: 30px;
    
}

#footer-main{
    padding: 5px 30px;
    font-size: 14px;
    background-color: rgb(223, 221, 221);
}


/* modal style */
#modal-backdrop{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

#modal-backdrop.visible{
    display: block;
}
.modal{
    display: none;
    position: absolute;
    padding: 10px 20px;
    border: 1px solid #555;
    background-color: #fff;
    z-index: 99999;
    width: 300px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.visible{
    display: block;
}

.modal-content{
    width: 300px;
    height: 300px;

    

}

#modal-dialog footer{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    
}

#save-button, #new-button{
    margin-left: 10px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
}

#save-button:hover, #new-button:hover{
    background-color: #1a8be8;
    color: #fff;
}

#cancel-button{
    border:  none;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #181818;
    color: #fff;
}
#cancel-button:hover{
    background-color: #6b6b6b;
}

#edit-title-text{
    width: 200px;
}
#edit-title-message{
    display: none;
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

#edit-title-message.visible{
    display: block;
}


#edit-content-message{
    display: none;
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

#edit-content-message.visible{
    display: block;
}


#edit-content-text{
    width: 100%;
    box-sizing: border-box;;
}
